Package: com.isecpartners.nabla.sslkillswitch
Name: iOS SSL Kill Switch
Depends: mobilesubstrate, preferenceloader, applist (>= 1.4.1)
Version: 0.61
Architecture: iphoneos-arm
Description: Blackbox tool to disable SSL certificate validation - including certificate pinning - within iOS Apps.
Maintainer: Alban Diquet <alban@isecpartners.com>
Author: Alban Diquet <alban@isecpartners.com>
Section: Tweaks
